img {
	display: block;
	width: 300px;
	height:300px;
	margin: 1px;
	border: 2px solid black;
	text-align: center;
}

.header {
	display: block;
	height: 200px;
	width: span;
	border: 2px solid black;
}

.gallery {
	column-count: 3;
	border: 2px solid black;
	text-align: center;
	padding: 10px;
	position: relative;
}

.albumzone {
	display: inline-block;
	position: relative;
	float: left;
	height: 400px;
	width: 305px;
	margin: 5px;
	border: 1px solid grey;
}

.button-like {
	height: 80px;
	width: 135px;
	position: relative;
	display: inline-block;
	border: 2px solid black;
	background-color: transparent;
	text-decoration: none;
	left: 0px;
	margin-top: 1px;
	margin-bottom: 5px;
	margin-right: 5px;
	border-radius: 1px;
	color: #8a8a8a;
	transition: all ease 0.4s;
	cursor: pointer;
	vertical-align: bottom;
}

.fa {
	vertical-align: middle;
	position: relative;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.liked {
  background-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.buttonx{
	width: 135px;
	height: 80px;
	display: inline-block;
  	position: relative;
	border-radius: .5px;
	background: #fff;
	margin-top: 1px;
	cursor: pointer;
	transition: background 0.5s ease;
	font-family: garamond;
	font-size: 25px;
	border: 2px solid black;
	vertical-align: top;
}
